@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer components {
  .group-date {
    @apply text-4xl text-gray-300
    px-3  py-4
    font-bold;
  }
  .timeline {
    @apply border-l-4 border-gray-200
    ml-3 mt-3 py-16
    space-y-14;
  }
  .dot {
    @apply absolute top-5 -left-3.5
     bg-blue-400 h-6 w-6 rounded-full 
     border-4 border-white;
  }
  .timeline-date {
    @apply text-xs font-bold
    opacity-40 tracking-widest;
  }
  .timeline-title {
    @apply text-3xl text-gray-600 font-semibold
    tracking-wide mb-2;
  }
}

.toc {
  position: fixed;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
  top: 100px;
  right: 100px;
  display: block;

  @media screen and (max-width: 1200px) {
    display: none !important;
  }

  &:ol {
    text-decoration: none;
  }
}

.toc-link {
  text-decoration: none;
}

.toc .toc-item::marker {
  font-size: 0px;
}
